# build folder
/build/

#vscode config folder
/.vscode/
/.vs/
/out/

#dev vlogs
/DevVlogs/

#TODO NOTES
TODO

#build_configs
/build_configs/linux/appimage/snake-x86_64.AppImage
/build_configs/linux/appimage/snake.AppDir/res
/build_configs/windows/Output/
